//font-family: 'Commissioner', sans-serif; 400 500 700

:root {
  --cyan: hsl(176, 50%, 47%);
  --dark-cyan: hsl(176, 72%, 28%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 48%);
}

@media screen and (max-width: 569px) {
  a {
    text-decoration: none;
    color: inherit;
  }

  .btn {
    background-color: var(--cyan);
    border-radius: 30px;
    padding: 1rem 1.8rem;
    color: white;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s;
    text-align: center;

    &:hover {
      background: var(--dark-cyan);
    }
  }

  .bookmark {
    // background-color: var(--dark-gray);

    #bookmark__checkbox__input {
      display: none;
    }

    #bookmark-text {
      display: none;
    }

    #bookmark__checkbox__input:checked + .bookmark__checkbox #mark g circle {
      fill: var(--dark-cyan);
    }

    #bookmark__checkbox__input:checked + .bookmark__checkbox #mark g path {
      fill: white;
    }
  }

  .text {
    color: var(--dark-gray);
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
  }

  .stat-bold {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .unavailable {
    opacity: 0.5;

    .btn {
      background: var(--dark-gray);
      cursor: not-allowed;
    }
  }

  nav {
    background: url("../images/image-hero-mobile.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 350px;
    padding: 2rem 5%;
    position: relative;

    .close-menu {
      display: none;
    }
    .nav-ul {
      display: none;
      position: absolute;
      margin: auto;
      top: 20%;
      left: 0;
      right: 0;
      width: 92%;
      background-color: white;
      border-radius: 8px;
      font-weight: 500;

      li {
        list-style: none;
        margin: 0 1rem;
        color: black;
        margin: 2% 0;
        padding: 0.8rem;
        border-bottom: 1px solid lightgray;

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }

  main {
    width: 90%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    background: white;
    position: relative;
    transform: translateY(-4.5rem);
    border-radius: 8px;
  }

  .header,
  .stats,
  .content {
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 8px;
  }

  //! CARD
  .header {
    display: flex;
    flex-direction: column;
    text-align: center;

    .mastercraft {
      display: flex;
      justify-content: center;
      transform: translateY(-100%);
    }

    .header-bold {
      font-weight: 700;
      margin-top: 2.5rem;
      margin-bottom: 1.5rem;
    }

    .header-btns {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: 1rem;

      #back-project {
        width: 75%;
      }
    }
  }

  //! CARD
  .stats {
    .stats-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;
    }

    .progress-bar {
      width: 100%;
      height: 0.8rem;
      margin-top: 3rem;
      background: rgb(233, 233, 233);
      border-radius: 30px;
      position: relative;

      .progress {
        width: (89914 / 100000) * 100%;
        height: 100%;
        background: var(--cyan);
        border-radius: 30px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
      }
    }
  }

  //! CARD
  .content {
    h3 {
      margin-bottom: 1rem;
      font-size: 1.1rem;
    }

    .text {
      margin-bottom: 2rem;
    }

    .content-card {
      margin-top: 1.7rem;
      border: 1px solid lightgray;
      border-radius: 8px;
      padding: 1.5rem;

      .section-top {
        display: flex;
        flex-direction: column;

        h4 {
          font-weight: 400;
          margin-top: -0.7rem;
          margin-bottom: 1.5rem;
          color: var(--cyan);
        }
      }

      .section-bottom {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .btn {
          margin-top: 1rem;
          max-width: 170px;
          padding: 0.8rem 0.5rem;
        }
      }
    }
  }
}
